In [355]:
import pandas as pd

In [356]:
import numpy as np

In [357]:
import matplotlib.pyplot as plt

In [358]:
df=pd.read_csv("Dataset_5971.csv")

In [359]:
li=[ '!', '$', '&', '#','~']

In [360]:
li=np.array(li)

In [361]:
df['special']=''

In [362]:
for j in range(len(df)):
    count=0
    for k in range(len(df.loc[j]["TEXT"])):
        if np.isin(df.loc[j]["TEXT"][k],li):
            count+=1
    df.special[j]=count

In [363]:
li2=[ '?', '%','-', '/', '^', '%',]
li2=np.array(li2)

In [364]:
df['symbol']=''

In [365]:
for j in range(len(df)):
    count=0
    for k in range(len(df.loc[j]["TEXT"])):
        if np.isin(df.loc[j]["TEXT"][k],li2):
            count+=1 
    df.symbol[j]=count

In [366]:
df

,LABEL,TEXT,URL,EMAIL,PHONE,special,symbol
0,ham,Your opinion about me? 1. Over 2. Jada 3. Kusr...,No,No,No,0,1
1,ham,What's up? Do you want me to come online? If y...,No,No,No,0,2
2,ham,So u workin overtime nigpun?,No,No,No,0,1
3,ham,"Also sir, i sent you an email about how to log...",No,No,No,0,0
4,Smishing,Please Stay At Home. To encourage the notion o...,No,No,No,0,2
...,...,...,...,...,...,...,...
5966,ham,:( but your not here....,No,No,No,0,0
5967,ham,Becoz its &lt;#&gt; jan whn al the post ofic...,No,No,No,3,0
5968,ham,Its a valentine game. . . send dis msg to all ...,No,No,No,0,2
5969,ham,We r outside already.,No,No,No,0,0
5970,ham,The Xmas story is peace.. The Xmas msg is love...,No,No,No,1,0

In [367]:
from spellchecker import SpellChecker
s = "Tish soulhd al be corrrectt, riiiigghtttt?"
wordlist=s.split()
spell = SpellChecker()
amount_miss = len(list(spell.unknown(wordlist)))
print("Possible amount of misspelled words in the text:",amount_miss)

Possible amount of misspelled words in the text: 5

In [368]:
df

,LABEL,TEXT,URL,EMAIL,PHONE,special,symbol
0,ham,Your opinion about me? 1. Over 2. Jada 3. Kusr...,No,No,No,0,1
1,ham,What's up? Do you want me to come online? If y...,No,No,No,0,2
2,ham,So u workin overtime nigpun?,No,No,No,0,1
3,ham,"Also sir, i sent you an email about how to log...",No,No,No,0,0
4,Smishing,Please Stay At Home. To encourage the notion o...,No,No,No,0,2
...,...,...,...,...,...,...,...
5966,ham,:( but your not here....,No,No,No,0,0
5967,ham,Becoz its &lt;#&gt; jan whn al the post ofic...,No,No,No,3,0
5968,ham,Its a valentine game. . . send dis msg to all ...,No,No,No,0,2
5969,ham,We r outside already.,No,No,No,0,0
5970,ham,The Xmas story is peace.. The Xmas msg is love...,No,No,No,1,0

In [369]:
df['misspelled']=''

In [370]:
for j in range(len(df)):
    count=0
    s=df.loc[j]["TEXT"]
    wordlist=s.split()
    spell = SpellChecker()
    amount_miss = len(list(spell.unknown(wordlist)))
    df.misspelled[j]=amount_miss

In [371]:
df

,LABEL,TEXT,URL,EMAIL,PHONE,special,symbol,misspelled
0,ham,Your opinion about me? 1. Over 2. Jada 3. Kusr...,No,No,No,0,1,6
1,ham,What's up? Do you want me to come online? If y...,No,No,No,0,2,3
2,ham,So u workin overtime nigpun?,No,No,No,0,1,2
3,ham,"Also sir, i sent you an email about how to log...",No,No,No,0,0,6
4,Smishing,Please Stay At Home. To encourage the notion o...,No,No,No,0,2,5
...,...,...,...,...,...,...,...,...
5966,ham,:( but your not here....,No,No,No,0,0,2
5967,ham,Becoz its &lt;#&gt; jan whn al the post ofic...,No,No,No,3,0,9
5968,ham,Its a valentine game. . . send dis msg to all ...,No,No,No,0,2,8
5969,ham,We r outside already.,No,No,No,0,0,1
5970,ham,The Xmas story is peace.. The Xmas msg is love...,No,No,No,1,0,8

In [372]:
li3=["Award", "claim", "gift", "voucher", "blocked", "won", "prize", "winner", "activate", "please", "account","card", "refund", "due", "congratulations", "cash", "urgent", "free", "happy", "join"]

In [373]:
li3=np.array(li3)

In [374]:
df['common_words']=''

In [375]:
for j in range(len(df)):
    count=0
    s=df.loc[j]["TEXT"]
    wordlist=s.split()
    for i in wordlist:
        if np.isin(i.lower(),li3):
            df.common_words[j]=1
        else:
            df.common_words[j]=0

In [376]:
# in_list=df[df.LABEL=='smishing'].index

In [377]:
# in_list

In [378]:
# for i in in_list:
#     df.loc[i]['LABEL']='Smishing'

In [379]:
# df.LABEL.unique()

In [380]:
# df

In [381]:
# counts = dict()
# for i in df[df.LABEL=="Smishing"]['TEXT'].values:
#     wordlist=i.split()
#     for word in wordlist:
#         if word in counts:
#             counts[word] += 1
#         else:
#             # If the word is not in the dictionary, add it to the dictionary with a frequency of 1.
#             counts[word] = 1

In [382]:
# keys = list(counts.keys())
# values = list(counts.values())
# sorted_value_index = np.argsort(values)
# sorted_dict = {keys[i]: values[i] for i in sorted_value_index}
 
# asc_order=list(sorted_dict.keys())

In [383]:
df=df.copy()

In [384]:
df.URL.unique()

array(['No', 'yes'], dtype=object)

In [385]:
for j in range(len(df)):
    s=df.loc[j]["URL"]
    if(s=="No"):
        df.URL[j]=0
    else:
        df.URL[j]=1

In [386]:
df

,LABEL,TEXT,URL,EMAIL,PHONE,special,symbol,misspelled,common_words
0,ham,Your opinion about me? 1. Over 2. Jada 3. Kusr...,0,No,No,0,1,6,0
1,ham,What's up? Do you want me to come online? If y...,0,No,No,0,2,3,0
2,ham,So u workin overtime nigpun?,0,No,No,0,1,2,0
3,ham,"Also sir, i sent you an email about how to log...",0,No,No,0,0,6,0
4,Smishing,Please Stay At Home. To encourage the notion o...,0,No,No,0,2,5,0
...,...,...,...,...,...,...,...,...,...
5966,ham,:( but your not here....,0,No,No,0,0,2,0
5967,ham,Becoz its &lt;#&gt; jan whn al the post ofic...,0,No,No,3,0,9,0
5968,ham,Its a valentine game. . . send dis msg to all ...,0,No,No,0,2,8,0
5969,ham,We r outside already.,0,No,No,0,0,1,0
5970,ham,The Xmas story is peace.. The Xmas msg is love...,0,No,No,1,0,8,0

In [387]:
df.EMAIL.unique()

array(['No', 'yes'], dtype=object)

In [388]:
for j in range(len(df)):
    s=df.loc[j]["EMAIL"]
    if(s=="No"):
        df.EMAIL[j]=0
    else:
        df.EMAIL[j]=1

In [389]:
df

,LABEL,TEXT,URL,EMAIL,PHONE,special,symbol,misspelled,common_words
0,ham,Your opinion about me? 1. Over 2. Jada 3. Kusr...,0,0,No,0,1,6,0
1,ham,What's up? Do you want me to come online? If y...,0,0,No,0,2,3,0
2,ham,So u workin overtime nigpun?,0,0,No,0,1,2,0
3,ham,"Also sir, i sent you an email about how to log...",0,0,No,0,0,6,0
4,Smishing,Please Stay At Home. To encourage the notion o...,0,0,No,0,2,5,0
...,...,...,...,...,...,...,...,...,...
5966,ham,:( but your not here....,0,0,No,0,0,2,0
5967,ham,Becoz its &lt;#&gt; jan whn al the post ofic...,0,0,No,3,0,9,0
5968,ham,Its a valentine game. . . send dis msg to all ...,0,0,No,0,2,8,0
5969,ham,We r outside already.,0,0,No,0,0,1,0
5970,ham,The Xmas story is peace.. The Xmas msg is love...,0,0,No,1,0,8,0

In [390]:
df.PHONE.unique()

array(['No', 'yes'], dtype=object)

In [391]:
for j in range(len(df)):
    s=df.loc[j]["PHONE"]
    if(s=="No"):
        df.PHONE[j]=0
    else:
        df.PHONE[j]=1

In [392]:
df.LABEL.unique()

array(['ham', 'Smishing', 'spam', 'Spam', 'smishing'], dtype=object)

In [393]:
in_list=df[df.LABEL=='smishing'].index
for i in in_list:
    df.loc[i]['LABEL']='Smishing'

In [394]:
df.LABEL.unique()

array(['ham', 'Smishing', 'spam', 'Spam'], dtype=object)

In [395]:
in_list=df[df.LABEL=='Spam'].index
for i in in_list:
    df.loc[i]['LABEL']='spam'

In [396]:
df.LABEL.unique()

array(['ham', 'Smishing', 'spam'], dtype=object)

In [397]:
for j in range(len(df)):
    s=df.loc[j]["LABEL"]
    if(s=="Smishing"):
        df.LABEL[j]=0
    else:
        df.LABEL[j]=1

In [398]:
num_df=df[['LABEL', 'URL', 'EMAIL', 'PHONE', 'special', 'symbol','misspelled', 'common_words']]

In [399]:
num_df

     LABEL URL EMAIL PHONE special symbol misspelled common_words
0        1   0     0     0       0      1          6            0
1        1   0     0     0       0      2          3            0
2        1   0     0     0       0      1          2            0
3        1   0     0     0       0      0          6            0
4        0   0     0     0       0      2          5            0
...    ...  ..   ...   ...     ...    ...        ...          ...
5966     1   0     0     0       0      0          2            0
5967     1   0     0     0       3      0          9            0
5968     1   0     0     0       0      2          8            0
5969     1   0     0     0       0      0          1            0
5970     1   0     0     0       1      0          8            0

[5971 rows x 8 columns]

In [400]:
num_df2=num_df.copy()

In [401]:
num_df2

     LABEL URL EMAIL PHONE special symbol misspelled common_words
0        1   0     0     0       0      1          6            0
1        1   0     0     0       0      2          3            0
2        1   0     0     0       0      1          2            0
3        1   0     0     0       0      0          6            0
4        0   0     0     0       0      2          5            0
...    ...  ..   ...   ...     ...    ...        ...          ...
5966     1   0     0     0       0      0          2            0
5967     1   0     0     0       3      0          9            0
5968     1   0     0     0       0      2          8            0
5969     1   0     0     0       0      0          1            0
5970     1   0     0     0       1      0          8            0

[5971 rows x 8 columns]

In [402]:
X=num_df[['URL', 'EMAIL', 'PHONE', 'special', 'symbol', 'misspelled','common_words']]

In [403]:
y=num_df['LABEL']

In [404]:
y

0       1
1       1
2       1
3       1
4       0
       ..
5966    1
5967    1
5968    1
5969    1
5970    1
Name: LABEL, Length: 5971, dtype: object

In [405]:
from sklearn.neural_network import MLPClassifier
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [406]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

In [407]:
y_train[y_train==0]

653     0
1087    0
2617    0
73      0
5570    0
       ..
1267    0
189     0
4843    0
3444    0
466     0
Name: LABEL, Length: 519, dtype: object

In [417]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [410]:
mlp = MLPClassifier(hidden_layer_sizes=(64, 32),
                    max_iter=1000, random_state=35)

In [411]:
mlp.fit(X_train,list(y_train.values))
 
# Make predictions on the test data
y_pred = mlp.predict(X_test)
 
# Calculate the accuracy of the model
accuracy = accuracy_score(list(y_test.values), y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.94

In [415]:
X_train

     URL EMAIL PHONE special symbol misspelled common_words
2410   0     0     0       0      1          3            0
1173   0     0     0       3      1         16            0
5414   0     0     0       0      0          2            0
1670   0     0     0       3      0          4            0
944    0     0     0       1      0          1            0
...   ..   ...   ...     ...    ...        ...          ...
3772   0     0     0       0      0          6            0
5191   0     0     0       0      0          1            0
5226   1     0     1       2      1         10            0
5390   0     0     0       0      1          8            0
860    0     0     0       0      0          4            0

[4776 rows x 7 columns]

In [412]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

In [413]:
mlp = MLPClassifier(hidden_layer_sizes=(64, 32),
                    max_iter=1000, random_state=42)

In [414]:
mlp.fit(X_train,list(y_train.values))
 
# Make predictions on the test data
y_pred = mlp.predict(X_test)
 
# Calculate the accuracy of the model
accuracy = accuracy_score(list(y_test.values), y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.95